<% add_breadcrumb('Odzyskiwanie hasła') %>
<% set_title('Odzyskiwanie hasła') %>

<%= power_errors_for :user, :header_message => 'Wystąpiły następujące błędy' %>
<%= power_form_for :user do |f| %>
  <%= field_set_tag 'Podaj swój adres e-mail.' do %>
    <p>Na ten adres wyślemy Ci wiadomość z instrukcją, jak utworzyć nowe hasło do konta.</p>
    <%= f.text_field :login, :label => 'Twój adres e-mail', :required => true %>
    <%= f.submit "Odzyskaj hasło" %>
  <% end %>
<% end %>