<div id="sidebar">

  <h3>Administracja</h3>
  <ul class="menu">
    <li><%= link_to 'Start panelu', :controller => 'admin/index' %></li>
  </ul>

  <h3>Karty</h3>
  <ul class="menu">
    <li><%= link_to 'Przeglądaj', :controller => 'admin/cards', :action => 'index' %></li>
    <li><%= link_to 'Eksport', :controller => 'admin/cards', :action => 'export' %></li>
    <li><%= link_to 'Załaduj nowe', :controller => 'admin/index', :action => 'upload' %></li>
  </ul>

   <%= render :partial => 'shared/toolbar' %>
</div>
