<div id="debug" class="on">
  <div class="toggle" onclick="$('#debug').toggleClass('off')">debug console</div>
  <dl>
    <dt>Request</dt>
    <dd><%= debug(request.get? ? 'GET' : 'POST') %></dd>
    <dt>Params</dt>
    <dd><%= debug params %></dd>
    <dt>Controller Class</dt>
    <dd><%= debug controller.class %></dd>
    <dt>Cookies :auth_token</dt>
    <dd><%= debug cookies[:auth_token] %></dd>
    <dt>Session ID</dt>
    <dd><%= debug session_id %></dd>
    <dt>Current user</dt>
    <dd><%= debug current_user %></dd>
  </dl>
</div>
